<template>
  <div>
    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="signal_wifi_off" color="primary" text-color="white" />
          <span class="q-ml-sm">Delete the selected attachments.</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn flat label="Delete"  @click="deleteSelected" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-toolbar class="bg-primary text-white shadow-2">
      <q-toolbar-title>Attachments</q-toolbar-title>
      <q-btn flat round dense icon="delete" @click="confirm = true"/>
      <q-btn flat round dense icon="cloud_download" />
    </q-toolbar>
    <q-list>
      <q-item v-for="attachment in listItem.attachments" :key="attachment.id"
              clickable v-ripple>

        <q-item-section side>
          <q-checkbox size="md" v-model="attachmentSelected" :val="attachment.id" />
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ attachment.name }}</q-item-label>
          <q-item-label caption lines="2">Uploaded by: </q-item-label>
        </q-item-section>

        <q-item-section side>
          <q-item-label>{{ getDateFormatted(attachment.uploadDate) }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>

  </div>

</template>

<script>
import { mapActions } from 'vuex';
import moment from "moment";
export default {
  name: "Attachments",
  props: ['listId', 'listItemId'],
  data() {
    return {
      attachmentSelected: [],
      confirm: false
    }
  },
  computed: {
    listItem : {
      get() {
        return this.$store.state.boardLists
            .lists.find(l => l.id === this.listId)
            .listItems.find(li => li.id === this.listItemId)
      }
    }
  },
  methods: {
    ...mapActions('boardLists',[
      'deleteAttachment'
    ]),
    deleteSelected() {
      this.deleteAttachment({listId: this.listId, listItemId: this.listItemId, ids: this.attachmentSelected});
      this.attachmentSelected = [];
    },
    getDateFormatted(date) {
      return moment(date).format('MMMM Do YYYY, h:mm:ss a');
    }
  }
}
</script>

<style scoped>

</style>
