<template>
  <div class="checklist-container checklist-left">

    <div class="row">
      <div class="col-6">
        <q-input
            v-model="checklist.name"
            filled
            :dense="true" style="margin-right: 5px;"
        />
      </div>
      <div class="col-6">
        <q-linear-progress size="40px" :value="progress" color="accent">
          <div class="absolute-full flex flex-center">
            <q-badge color="white" text-color="accent" :label="progressLabel" />
          </div>
        </q-linear-progress>
      </div>
    </div>

    <div v-if="isChecklistVisible">
      <div class="q-gutter-sm highlight"
           v-for="cItem in checklist.items"
           :key="cItem.id">
        <q-checkbox
            :id="cItem.id"
            v-bind:label="cItem.label"
            v-bind:value="cItem.value"
            @input="v=>{updateChecklist(v,checklist.id, cItem.id)}"
        />
        <q-btn-dropdown class="hide" dropdown-icon="more_vert" style="float: right">
          <q-list>
            <q-item clickable v-close-popup @click="v=>{deleteItem(v, cItem.id)}">
              <q-item-section>
                <q-item-label>Delete</q-item-label>
              </q-item-section>
            </q-item>

            <q-item clickable v-close-popup @click="convertToCard">
              <q-item-section>
                <q-item-label>Convert to Card</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
      </div>
    </div>

    <div class="q-gutter-sm" v-if="newChecklistToggle">
      <q-input v-model="newChecklistTitle" label="Add an item" :dense="true"/>
      <q-btn round color="green" icon="check" size="xs" v-on:click="addItem"/>
      <q-btn round color="red" icon="close" size="xs" v-on:click="newChecklistToggle = false"/>
    </div>

    <q-separator style="margin-bottom: 3px" />

    <q-btn label="Add item"
           color="primary"
           size="xs"
           v-if="!newChecklistToggle"
           v-on:click="newChecklistToggle = true" style="margin-right: 5px;"
          />

    <q-btn  label="Show all"
            color="primary"
            size="xs"
            v-if="!isChecklistVisible"
            v-on:click="isChecklistVisible = true"
            />

    <q-btn label="Hide all"
           color="primary"
           size="xs"
           v-if="progress === 1 && isChecklistVisible"
           v-on:click="isChecklistVisible = false"
          />

    <q-btn label="Delete Checklist"
           color="secondary"
           size="xs"
           style="float: right"
           @click="confirmDelete = true"
            />

    <q-dialog v-model="confirmDelete" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="signal_wifi_off" color="primary" text-color="white" />
          <span class="q-ml-sm">Delete the checklist <strong>{{ checklist.name }}</strong></span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn flat label="Delete" color="secondary" @click="deleteList" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  name: "Checklist",
  props: ['listId', 'listItemId', 'checklistId'],
  data() {
    return {
      newChecklistTitle: '',
      newChecklistToggle: false,
      isChecklistVisible: true,
      confirmDelete: false,
      checklist: {}
    }
  },
  computed: {
    ...mapGetters('boardLists', ['getChecklist']),

    progress: function () {
      const items = this.checklist.items;
      let completed = 0
      if (items.length > 0) {
        let done = items.filter(i => i.value === true);
        completed = done.length / items.length;
      }
      return completed;
    },
    progressLabel: function () {
      if (this.progress < 1) {
        return (this.progress * 100).toFixed(0) + '%'
      } else {
        return 'All items complete!';
      }
    }
  },
  methods: {
    ...mapActions('boardLists',[
      'updateChecklistItem', 'addChecklistItem', 'deleteChecklistItem', 'deleteChecklist'
    ]),
    updateChecklist(val, checklistId, id) {
      this.updateChecklistItem({ listId: this.listId, listItemId: this.listItemId, checklistId: checklistId,
        itemId: id, value: val});
      if (this.progress === 1) {
        this.isChecklistVisible = false;
      }

    },
    addItem() {
      this.addChecklistItem({ listId: this.listId, listItemId: this.listItemId, checklistId: this.checklist.id,
        name: this.newChecklistTitle})
      this.newChecklistTitle = '';
      this.newChecklistToggle = false;
    },
    deleteItem(val, id) {
      this.deleteChecklistItem({ listId: this.listId, listItemId: this.listItemId, checklistId: this.checklist.id,
        itemId: id})
    },
    deleteList() {
      this.deleteChecklist({listId: this.listId, listItemId: this.listItemId, checklistId: this.checklist.id})
    },
    convertToCard() {
      console.log('here');
    }
  },
  created() {
    this.checklist = this.getChecklist(this.listId, this.listItemId, this.checklistId);
    if (this.progress === 1) {
      this.isChecklistVisible = false;
    }
  }
}
</script>

<style scoped>
.hide {
  display: none;
}

.highlight:hover .hide {
  background-color: lightgrey;
  display: inline-block;
}

.checklist-container {
  margin-top: 10px;
  padding:2px;
  border: 2px solid #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.checklist-left {
  border-left: 6px solid #2196F3 !important;
}

</style>
