<template>
  <div>
    <q-editor v-if="toggleEdit"
        v-model="newDescription"
        :definitions="{
          save: {
            tip: 'Save your work',
            icon: 'save',
            label: 'Save',
            handler: saveWork
          },
          cancel: {
            tip: 'Cancel changes',
            icon: 'cancel',
            label: 'Cancel',
            handler: cancelWork
          }}"
        :toolbar="[
         ['bold', 'italic', 'strike', 'underline'],
         ['token', 'hr', 'link', 'custom_btn'],
         [{
            label: 'Formatting',
            icon: 'filter_1',
            fixedLabel: true,
            fixedIcon: true,
            list: 'no-icons',
            options: ['h3', 'h4', 'h5', 'h6','p', 'code']
        }],
        ['removeFormat'],
        ['save', 'cancel']
      ]"
    />
    <q-card v-if="!toggleEdit" flat bordered v-on:click="toggleEdit = true">
      <q-card-section v-html="sanitize(getDescription(listId, listItemId))"  />
    </q-card>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import 'codemirror/lib/codemirror.css';
import '@toast-ui/editor/dist/toastui-editor.css';

import { htmlScrubber } from "@/util/htmlSanitize";

export default {
  name: "Description",
  props: ['listId', 'listItemId'],
  data() {
    return {
      toggleEdit: false,
      newDescription: '',
      editorText: 'This is initialValue.',
      editorOptions: {
        hideModeSwitch: true
      }
    }
  },
  computed: {
    ...mapGetters('boardLists', ['getDescription'])
  },
  methods: {
    ...mapActions('boardLists',['updateDescription']),
    saveWork() {
      this.toggleEdit = false;
      this.updateDescription({listId: this.listId, listItemId: this.listItemId, description: this.newDescription});
    },
    cancelWork() {
      this.toggleEdit = false;
      let desc = this.getDescription(this.listId, this.listItemId);
      this.newDescription = this.sanitize(desc);
    },
    sanitize(html) {
      return htmlScrubber(html);
    }

  },
  created() {
    let desc = this.getDescription(this.listId, this.listItemId);
    this.newDescription = this.sanitize(desc);
  }
}
</script>

<style scoped>

</style>
