<template>
  <div>
    <q-separator/>
      <q-chip removable
              v-for="label in labels" :key="label.id"
              :color="label.color"
              @remove="removeLabel(label.id)">
        {{ label.title }}
      </q-chip>
    <q-separator/>
  </div>

</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: "Labels",
  props: ['listId', 'listItemId'],
  data() {
    return {
      labels: []
    }
  },
  methods: {
    ...mapActions('boardLists',['deleteLabel']),
    removeLabel(labelId) {
      this.deleteLabel({listId: this.listId, listItemId: this.listItemId, labelId});
      this.labels = this.find();
    },
    find() {
      let labelIds = this.getLabels(this.listId, this.listItemId);
      return this.findLabels(labelIds);
    }
  },
  computed: {
    ...mapGetters('boardLists',[
      'getLabels'
    ]),
    ...mapGetters('labels',[
      'findLabels'
    ])
  },
  created() {
    this.labels = this.find();
    let _this = this;
    this.$root.$on('label-update', function () {
      _this.labels = _this.find();
    })
  }

}
</script>

<style scoped>

</style>
