<template>
  <q-item clickable v-ripple>
    <q-item-section @click="fullHeight = true">
      <q-item-label>{{ listItem.title }}</q-item-label>
      <q-item-label v-if="listItem.subtitle" caption>{{ listItem.subtitle }}</q-item-label>
    </q-item-section>

    <q-dialog v-model="fullHeight" >
      <q-card style="width: 750px; max-width: 80vw; ">
        <q-card-section>
          <Title :list-id="listId" :list-item-id="listItemId"/>
        </q-card-section>
        <q-card-section v-if="listItem.labels && listItem.labels.length > 0" >
          <labels :list-id="listId" :list-item-id="listItemId"/>
        </q-card-section>
        <q-card-section>
          <description :list-id="listId" :list-item-id="listItemId" />
        </q-card-section>

        <!-- Menu section -->
        <q-card-section horizontal>
          <div class="col-3" style="padding: 10px;">
            Add to list
            <q-list bordered>
              <add-user/>
              <add-label :list-id="listId" :list-item-id="listItemId"/>
              <add-checklist :list-id="listId" :list-item-id="listItemId"/>
              <add-attachment :list-id="listId" :list-item-id="listItemId"/>
              <q-separator />
              <delete-item/>
            </q-list>
          </div>

          <q-separator vertical />
          <!-- Content section -->
          <main-content :list-id="listId" :list-item-id="listItemId"/>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat round color="red" icon="favorite" />
          <q-btn flat round color="teal" icon="bookmark" />
          <q-btn flat round color="primary" icon="share" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-item>

</template>

<script>


// Menu Item Imports
import AddLabel from "@/components/list-item/menu/AddLabel";
import AddChecklist from "@/components/list-item/menu/AddChecklist";
import AddUser from "@/components/list-item/menu/AddUser";
import AddAttachment from "@/components/list-item/menu/AddAttachment";
import DeleteItem from "@/components/list-item/menu/DeleteItem";

// Functionality Imports
import Title from "@/components/list-item/Title";
import Labels from "@/components/list-item/Labels";
import Description from "@/components/list-item/Description";
import MainContent from "@/components/list-item/MainContent";
export default {
name: "ListItem",
  components: { AddLabel,
    AddChecklist,
    AddUser,
    AddAttachment,
    DeleteItem,
    Title,
    Description,
    MainContent,
    Labels
    },
  props: ['listId', 'listItemId'],
  inject: ['deleteCard'],
  data() {
    return {
      fullHeight: false
    }
  },
  computed: {
    listItem : {
      get() {
        return this.$store.state.boardLists
            .lists.find(l => l.id === this.listId)
            .listItems.find(li => li.id === this.listItemId)
      }
    }
  },
  provide() {
    return {
      deleteItem: this.deleteItem,
      addLabel: this.addLabel
    }
  },
  methods: {

    deleteItem() {
      this.deleteCard(this.listItem.id);
      this.fullHeight = false;
    },
    addLabel(labelText, labelColor) {
      const idx = Math.floor(Math.random() * 1000);
      const newLabel = {id: idx, labelText: labelText, labelColor: labelColor};
      this.listItem.labels.push(newLabel);
    },
    removeLabel(labelId) {
      const idx = this.listItem.labels.find((l) => l.id === labelId);
      this.listItem.labels.splice(idx, 1);
    },
    addChecklist(payload) {
      console.log(payload);
    }
  },
  watch: {
    val: {
      deep: true,
      handler(nValue) {
        console.log(nValue);
      }
    }
  }
}
</script>

<style scoped>
.input-item {
  margin-left: 2px;
}

</style>
