<template>
  <div class="col-8">
    <q-tabs v-model="tabName">
      <q-tab name="main" icon="info"/>
      <q-tab name="attachments" icon="attachment" :disable="attachmentTabVisible"/>
    </q-tabs>

    <q-tab-panels v-model="tabName" animated>
      <q-tab-panel name="main">
        <q-input
            class="input-item"
            bg-color="grey-3"
            label-color="grey-10"
            v-model="listItem.subtitle"
            filled
            label="Sub title"
            stack-label
            :dense="true"
            @keydown="updateSubtitle"/>

        <q-scroll-area style="height: 400px; max-width: 600px;">
          <checklist v-for="checklist in listItem.checklists" :key="checklist.id"
                     :list-id="listId"
                     :list-item-id="listItemId"
                     :checklist-id="checklist.id"
          />
        </q-scroll-area>
      </q-tab-panel>

      <q-tab-panel name="attachments" >
        <attachments :list-id="listId" :list-item-id="listItemId" />
      </q-tab-panel>
    </q-tab-panels>

    <div style="margin-top: 15px; display: block">
    </div>
  </div>

</template>

<script>
import Attachments from "@/components/list-item/Attachments";
import Checklist from "@/components/list-item/Checklist";

export default {
  name: "MainContent",
  props: ['listId', 'listItemId'],
  components: { Attachments, Checklist },
  data() {
    return {
      tabName: 'main'
    }
  },
  computed: {
    attachmentTabVisible: {
      get() {
        const att = this.$store.state.boardLists
            .lists.find(l => l.id === this.listId)
            .listItems.find(li => li.id === this.listItemId).attachments;
        return !(att && att.length > 0);
      }
    },
    listItem : {
      get() {
        return this.$store.state.boardLists
            .lists.find(l => l.id === this.listId)
            .listItems.find(li => li.id === this.listItemId)
      }
    }
  },

  methods: {
    updateSubtitle(event) {
      if (event.keyCode === 13) {
        this.listItem.subtitle = this.val.subtitle;
      }
    },
  }
}
</script>

<style scoped>

</style>
