<template>
  <div>
    <q-toolbar :class="'bg-'+bgColor + ' text-'+textColor">
      <q-toolbar-title>
        {{ getTitle(listId, listItemId) }}
        <q-popup-edit v-model="newTitle" @save="saveNewTitle">
          <q-input v-model="newTitle" dense autofocus />
        </q-popup-edit>
      </q-toolbar-title>
      <q-btn flat round dense icon="more_vert" />
    </q-toolbar>

  </div>

</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: "Title",
  props: ['listId', 'listItemId'],
  data() {
    return {
      newTitle: '',
      bgColor: 'purple',
      textColor: 'white'
    }
  },
  methods: {
    ...mapActions('boardLists', ['updateListItemTitle']),
    saveNewTitle(val) {
      this.updateListItemTitle ({listId: this.listId, listItemId: this.listItemId, title: val})

    }
  },
  computed: {
    ...mapGetters('boardLists',[
        'getTitle'
    ])
  },
  created() {
    this.newTitle = this.getTitle(this.listId, this.listItemId);
  }
}
</script>

<style scoped>

</style>
