<template>
  <div>
    <q-item clickable v-ripple @click="openDialog">
      <q-item-section>Attachment</q-item-section>
      <q-item-section avatar>
        <q-icon color="primary" name="attachment" />
      </q-item-section>
    </q-item>

    <q-dialog v-model="dialog" :position="position">
      <q-card>
        <q-card-section>
          <q-uploader label="Upload a file"
              url="http://localhost:4444/upload"
              style="max-width: 300px"
              @uploaded="uploadedFiles"
          />
        </q-card-section>
      </q-card>
    </q-dialog>

  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
name: "AddAttachment",
  props: ['listId', 'listItemId'],
  data() {
    return {
      dialog: false,
      position: 'top'
    }
  },
  methods: {
    ...mapActions('boardLists',[
      'addAttachment'
    ]),
    openDialog() {
      this.dialog = true;
    },
    uploadedFiles(info) {
      const fileName = info.files[0].name;
      this.addAttachment({ listId: this.listId, listItemId: this.listItemId, name: fileName})
    }
  }
}
</script>

<style scoped>

</style>
