<template>
  <div>
    <q-item clickable v-ripple>
      <q-item-section>Checklist</q-item-section>
      <q-item-section avatar>
        <q-icon color="primary" name="checkbox" />
      </q-item-section>
    </q-item>
    <q-menu>
      <div class="row no-wrap q-pa-md">
        <div class="column">
          <q-input
            label="Checklist name"
            v-model="newChecklistName"
          />

        </div>
      </div>
      <div class="column items-center">
        <q-btn color="primary" label="Add Checklist" @click="addNewChecklist" />
      </div>
    </q-menu>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: "AddChecklist",
  props: ['listId', 'listItemId'],
  data() {
    return {
      newChecklistName: ''
    }
  },
  methods: {
    ...mapActions('boardLists',[
      'addChecklist'
    ]),
    addNewChecklist() {
      this.addChecklist({listId: this.listId, listItemId: this.listItemId,checklistName: this.newChecklistName});
      this.newChecklistName = '';
    }
  }
}
</script>

<style scoped>

</style>
