<template>
  <div>
    <q-item clickable v-ripple>
      <q-item-section>Due date</q-item-section>
      <q-item-section avatar>
        <q-icon color="primary" name="calendar_today" />
      </q-item-section>
    </q-item>
  </div>
</template>

<script>
export default {
name: "AddDueDate"
}
</script>

<style scoped>

</style>
