<template>
  <div>
    <q-item clickable v-ripple>
      <q-item-section>Label</q-item-section>
      <q-item-section avatar>
        <q-icon color="primary" name="label" />
      </q-item-section>
      <q-menu>
        <div>
          <q-btn
              v-for="c in getAllLabels" :key="c.id"
              :color="c.color"
              :label="c.title"
              class="full-width"
              align="left"
              :icon="isSelected(c.id)"
              @click="updateLabelForItem(c.id)"
          ></q-btn>
        </div>
      </q-menu>
    </q-item>
  </div>

</template>

<script>
import {mapActions, mapGetters} from 'vuex';

export default {
name: "AddLabel",
  props: ['listId', 'listItemId'],
  data() {
    return {
      isChecked: {}
    }
  },
  computed: {
    ...mapGetters('labels',[
      'getAllLabels', 'getAllColors'
    ]),
    ...mapGetters('boardLists',[
      'getLabels'
    ])
  },
  methods: {
    ...mapActions('boardLists',[
      'addLabel', 'deleteLabel'
    ]),
    updateLabelForItem(id) {
      if (this.getLabels(this.listId, this.listItemId).includes(id)) {
        this.deleteLabel({listId: this.listId, listItemId: this.listItemId, labelId: id})
      } else {
        this.addLabel({listId: this.listId, listItemId: this.listItemId, id: id});
      }
      this.$root.$emit('label-update');
      // I don't like this hack, but when deleting a label, the icon does not refresh for some reason
      this.$forceUpdate();
    },
    isSelected(id) {
      let selected = '';
      if (this.getLabels(this.listId, this.listItemId).includes(id)) {
        selected = 'checked';
      }
      return selected;
    }
  }
}
</script>

<style scoped>
</style>
