<template>
  <div>
    <q-item clickable v-ripple>
      <q-item-section>User</q-item-section>
      <q-item-section avatar>
        <q-icon color="primary" name="person" />
      </q-item-section>
    </q-item>
  </div>
</template>

<script>
export default {
  name: "AddUser"
}
</script>

<style scoped>

</style>
