<template>
  <div>
    <q-item clickable v-ripple  @click="confirmDelete = true" >
      <q-item-section>Delete list item</q-item-section>
      <q-item-section avatar>
        <q-icon color="primary" name="delete"/>
      </q-item-section>
    </q-item>

    <q-dialog v-model="confirmDelete" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="signal_wifi_off" color="primary" text-color="white" />
          <span class="q-ml-sm">Delete this item permanently?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn flat label="Delete" color="primary" v-close-popup @click="deleteItem()" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
name: "DeleteItem",
  inject: ['deleteItem'],
  data() {
    return {
      confirmDelete: false,
    }
  }
}
</script>

<style scoped>

</style>
