<template>
  <q-menu persistent>
    <q-carousel
        v-model="slide"
        height="22rem"
        animated>
      <q-carousel-slide name="settings" class="column no-wrap">
        <div class="q-mt-md text-center">
          <q-list style="min-width: 100px">
            <q-item clickable @click="slide = 'about'">
              <q-item-section>About this board</q-item-section>
            </q-item>
            <q-item clickable @click="slide = 'labels'">
              <q-item-section>Labels</q-item-section>
            </q-item>
            <q-separator/>
            <q-item clickable @click="slide = 'other'">
              <q-item-section>Other stuff</q-item-section>
            </q-item>

          </q-list>
        </div>
      </q-carousel-slide>
      <q-carousel-slide name="labels" class="column no-wrap">
        <div class="q-mt-md text-center">
          <global-labels/>
        </div>
      </q-carousel-slide>
      <q-carousel-slide name="about" class="column no-wrap">
        <div class="q-mt-md text-center">
          About this board
        </div>
      </q-carousel-slide>
      <q-carousel-slide name="other" class="column no-wrap">
        <div class="q-mt-md text-center">
          Other stuff here
        </div>
      </q-carousel-slide>
    </q-carousel>
  </q-menu>
</template>

<script>
import GlobalLabels from "@/components/board-menu/GlobalLabels";
export default {
  name: "BoardMenu",
  components: { GlobalLabels },
  data () {
    return {
      slide: 'settings'
    }
  },
  methods: {
    navigateToSettings() {
      this.slide = 'settings';
    }
  },
  provide() {
    return {
      navigateToSettings: this.navigateToSettings
    }
  }
}
</script>

<style scoped>

</style>
