<template>
  <q-card>
    <q-card-section>
      <q-btn color="white" text-color="black" label="Back" @click="back" />
    </q-card-section>
    <q-card-section>
      <div>
        <q-input v-for="c in getAllLabels" :key="c.id"
                 :bg-color="c.color"
                 v-model="c.title"
                 rounded dense
                 debounce="250">
        </q-input>
      </div>
    </q-card-section>
  </q-card>


</template>

<script>
import {mapGetters} from 'vuex';
export default {
  name: "GlobalLabels",
  inject: ['navigateToSettings'],
  computed: {
    ...mapGetters('labels',['getAllLabels'])
  },
  methods: {
    back() {
      this.navigateToSettings();
    }
  }
}
</script>

<style scoped>

</style>
