<template>
  <q-card class="my-card bg-secondary text-white list-card">
    <q-card-section>
      <q-dialog v-model="confirmDelete" persistent>
        <q-card>
          <q-card-section class="row items-center">
            <q-avatar icon="signal_wifi_off" color="primary" text-color="white" />
            <span class="q-ml-sm">Delete this list permanently?</span>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Cancel" color="primary" v-close-popup />
            <q-btn flat label="Delete" color="primary" v-close-popup @click="deleteList(listId)" />
          </q-card-actions>
        </q-card>
      </q-dialog>
      <div class="row items-center no-wrap">
        <div class="col">
          <div class="text-h6">
            <q-input
                borderless
                v-bind:value="listTitle"
                @input="updateListTitle"
                @blur="updateListTitle"
                @keydown="updateListTitle"/>
          </div>
        </div>
        <div class="col-auto">
          <q-btn color="grey-7" round flat icon="more_vert">
            <q-menu cover auto-close>
              <q-list>
                <q-item clickable>
                  <q-item-section @click="confirmDelete = true">Remove List</q-item-section>
                </q-item>
              </q-list>
            </q-menu>
          </q-btn>
        </div>
      </div>
    </q-card-section>

    <q-separator dark />
    <q-card-section style="padding: 0">
      <q-list>
        <list-item v-for="item in listItems" :key="item.id" :list-id="listId" :list-item-id="item.id" />
      </q-list>

    </q-card-section>

    <q-separator dark />
    <q-card-section>
      <q-input
          ref="listItemName"
          v-model="newItemName"
          outlined
          label="Add new item"
          @keydown="addItem"
          @blur="newItemName = null"
      />
    </q-card-section>
  </q-card>
</template>

<script>
import { mapActions } from 'vuex'
import ListItem from "@/components/list-item/ListItem";
export default {
name: "ListContainer",
  components: { ListItem },
  inject: ['deleteList'],
  props: ['listId'],
  setup() {

  },
  data() {
    return {
      confirmDeleteList: false,
      newItemName: null,
      confirmDelete: false,
    }
  },
  computed: {
    listItems () {
      return this.$store.getters["boardLists/listItems"](this.listId);
    },
    listTitle () {
      return this.$store.getters["boardLists/listTitle"](this.listId);
    }
  },
  provide() {
    return {
      deleteCard: this.deleteItem
    }
  },
  methods: {
    ...mapActions('boardLists',[
      'addListItem', 'deleteListItem', 'updateListTitle'
    ]),
    addItem(event) {
      if (event.keyCode === 13) {
        this.addListItem({ listId: this.listId, itemName: this.newItemName});
        this.newItemName = null;
      }
    },
    deleteItem(id) {
      this.deleteListItem({listId: this.listId, listItemId: id});
    },
    updateListTitle(event) {
      console.log(event);
      if (event.type === 'focusout') {
        // console.log('saving new list name (focusout)');
        this.updateListTitle({ listId: this.listId, listTitle: this.listTitle });
      } else if (event.type === 'keydown' && event.keyCode === 13) {
        this.updateListTitle({ listId: this.listId, listTitle: this.listTitle });
        // console.log('saving new list name (enter key)');
      }
    }
  }
}
</script>

<style scoped>
.list-card {
  width: 15rem;
  margin-right: 2rem;
}

.list-card-title {
  word-wrap: break-word;
}
</style>
