<template>
  <q-page class="flex no-wrap">
    <q-toolbar style="align-items: start; white-space: nowrap;">
      <div class="q-pa-md row items-start no-wrap">
        <list-container v-for="list in lists" :key="list.id"
                        :list-id="list.id"
                        :list-title="list.listTitle"
                        :list-items="list.listItems"
        />
        <q-card>
          <q-card-section>
            <q-input standout="bg-teal text-white" v-model="newListName" label="Add New List" :dense="true"
            @keydown="addNewList"/>
          </q-card-section>
        </q-card>
      </div>
    </q-toolbar>
  </q-page>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

  import ListContainer from "@/components/ListContainer";

  export default {
  name: "TheBoard",
  components: { ListContainer },
  data: () => ({
    newListName: null
  }),
    computed: {
      ...mapGetters('boardLists', {
        lists: 'lists'
      })
    },
    provide() {
     return {
       deleteList: this.deleteList
     }
    },
  methods: {
    ...mapActions('boardLists',[
       'addList', 'removeList'
    ]),
    addNewList(event) {
      if (event.keyCode === 13) {
        this.addList({listName: this.newListName})
        this.newListName = null;
      }
    },
    deleteList(listId) {
      this.removeList({ listId } );
    }
  }

}
</script>

<style scoped>

</style>
