<template>
  <div class="sticky">
    <div class="row no-wrap shadow-1">
      <q-toolbar class="col-8 bg-grey-3">
        <q-btn flat round dense icon="menu" />
        <q-toolbar-title>Title</q-toolbar-title>
        <q-btn flat round dense icon="search" />
      </q-toolbar>
      <q-toolbar class="col-4 bg-primary text-white">
        <q-space />
        <q-btn flat round dense icon="more_vert">
          <board-menu/>
        </q-btn>
      </q-toolbar>
    </div>
  </div>
</template>

<script>
import BoardMenu from "@/components/board-menu/BoardMenu";


export default {

name: "TheHeader",
  components: { BoardMenu },

}
</script>

<style scoped>
.sticky {
  position: fixed;
  top: 0;
  width: 100%;



}
</style>
