<template>
  <q-layout view="lHh Lpr lFf">
    <TheHeader/>
    <q-page-container class="board-container">
      <TheBoard/>
    </q-page-container>
  </q-layout>
</template>

<script>
import TheBoard from "@/components/TheBoard";
import TheHeader from "@/components/TheHeader";

export default {
  name: "LayoutDefault",

  components: {
    TheBoard,
    TheHeader
  },

  data() {
    return {
      leftDrawerOpen: false
    };
  }
};
</script>

<style scoped>
.board-container {
  margin-top: 3rem;
}
</style>
